@import './sass/_variables.scss';

.minesweeper__block {
  $mark: #a88;
  $size: 25px;
  height: $size;
  width: $size;
  background-color: $dark;
  &:hover {
    background-color: #bbb;
  }
  &--marked {
    background-color: $mark;
    &:hover {
      background-color: $mark;
    }
  }
  &--opened {
    background-color: $light;
    &:hover {
      background-color: $light;
      cursor: default;
    }
  }
  &--mined {
    background-color: red;
    &:hover {
      background-color: red;
      cursor: default;
    }
  }
}
